body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
    color: #fff;
}

h1 {
    margin: 0;
    text-align: center;
}

.clock-container {
    display: flex;
    align-items: baseline;
}

#time {
    font-size: 5rem;
    color: #00FFAB;
    position: relative;
}

#ampm {
    font-size: 2rem;
    color: #FFD700;
    margin-left: 10px;
}

#day {
    font-size: 2rem;
    color: #FF5733;
    margin-top: 20px;
    text-align: center;
}

/* Additional Styling */
#ampm::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFD700;
    margin-bottom: 5px;
}
